@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');

header {
  right: 0;
  left: 0;
  height: 90px;
  background-color: #051d54;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.logo {
  font-family: AirstreamNF;
  font-size: 72px;
  margin: 0 158px 0 141px;
  color: #ffffff;
  text-decoration: none;
}
ul {
  display: flex;
  flex-direction: row;
  margin-left: -21px;
  align-items: center;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #ffffff;
  justify-content: space-evenly;
}
li {
  height: 100%;
  list-style-type: none;
  margin-top: 53px;
}
.one {
  margin-right: 81px;
  margin-bottom: 55px;
  /* padding-top: 55px; */
  width: 180px;
}
.two {
  margin-right: 92px;
  margin-bottom: 55px;
  width: 122px;
}
.three {
  margin-right: 77px;
  margin-bottom: 55px;
  width: 155px;
}
.four {
  margin-right: 50px;
  margin-bottom: 55px;
  width: 155px;
}
.five {
  margin-bottom: 55px;
  width: 100px;
}
.one:visited, .two:visited, .three:visited, .four:visited, .five:visited{
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.headerText {
  padding-top: 40px;
  font-weight: 400;
}
.hoverDive {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 11px;
  text-decoration: none;
  padding-bottom: 40px;
}
.headerText:hover, .hoverDive:hover {
  background-color: white;
  color: #051d54;
}
li:hover {
  color: #051d54;
}
@media (max-width: 500px) {
  header {
    right: 0;
    left: 0;
    top: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .logo {
    font-family: AirstreamNF;
    font-size: 48px;
    font-weight: 500;
    align-self: center;
    color: #ffffff;
    text-decoration: none;
  }
  ul {
    display: none;
  }
  li {
    display: none;
  }
  .one {
    display: none;
  }
  .two {
    display: none;
  }
  .three {
    display: none;
  }
  .four {
    display: none;
  }
  .four:visited{
    display: none;
  }
}


