.circle {
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 988px;
  margin-top: 5.9px;
  background-color: rgb( 0, 28, 82);
  border-radius: 50%;
}
.head {
  position: relative;
  height: 61px;
  width: 61px;
  margin-left: 66px;
  margin-top: 38px;
  background-color: white;
  border-radius: 50%;
}
.shoulder {
position: relative;
width: 101.7px;
height: 47.5px;
margin-top: 7.2px;
margin-left: 45px;
background-color: #ffffff;
border-radius: 48% 48% 0 0;
}
.cameraC {
display: flex;
justify-content: center;
align-items: center;
width: 70px;
height: 70px;
position: relative;
margin-left: 130.4px;
margin-top: -164px;
border: 1px solid  rgb( 0, 28, 82);
background-color: #ffffff;
border-radius: 50%;
}