.circle {
  position: absolute;
  height: 200px;
  width: 200px;
  margin-left: 988px;
  margin-top: 5.9px;
  background-color: rgb( 0, 28, 82);
  border-radius: 50%;
}
.head {
  position: relative;
  height: 61px;
  width: 61px;
  margin-left: 60px;
  margin-top: -62px;
  background-color: white;
  border-radius: 50%;
}
.shoulder {
position: relative;
width: 101.7px;
height: 47.5px;
margin-top: 7.2px;
margin-left: 40px;
background-color: #ffffff;
border-radius: 48% 48% 0 0;
}
.cameraC {
display: flex;
justify-content: center;
align-items: center;
width: 70px;
height: 70px;
position: relative;
margin-left: 124.4px;
margin-top: -164px;
border: 1px solid  rgb( 0, 28, 82);
background-color: #ffffff;
border-radius: 50%;
z-index: 2;
}
.picMenu {
  position: fixed;
  top: 0;
  margin-left: 121px;
  width: 1119px;
  height: 627px;
  background-image: url('https://i.imgur.com/dWB0vPI.jpg');
  border: 1px solid rgb(215, 215, 215);
  z-index: 1;
}
.imgInput {
  position: relative;
  width: 856px;
  height: 252px;
  z-index: 2;
  background-color: #ffffff;
  margin-top: 320px;
  margin-left: 262px;
}
.imgL {
  position: relative;
  margin-left: 178px;
  margin-top: 0;
}
.imgI {
  margin-left: 242px;
  margin-top: 25px;
}
.imgB {
  margin-left: 191.5px;
  margin-top: 0;
}
.imgB:focus {
  outline: none;
  border: 1px solid black;
}
.fake {
  position: relative;
  width: 107px;
  height: 27px;
  margin-left: 889px;
  margin-top: 20px;
  border-radius: 10%;
  background: transparent;
}
.fake:focus {
  border: 2px solid black;
}
.circleTwo {
  position: absolute;
  height: 205px;
  width: 205px;
  margin-left: 982px;
  margin-top: 5.9px;
  border-radius: 50%;
  z-index: 1;
  background-position: center;
}
@media (max-width: 800px) {
  .circle {
    height: 150px;
    width: 150px;
    margin-left: .5%;
    margin-top: 28%;
    margin-bottom: 200px;
  }
  .circleTwo {
    height: 150px;
    width: 150px;
    margin-left: 28%;
    margin-top: 28%;
    margin-bottom: 200px;
    background-position: center;
    background-color: rgb( 0, 28, 82);
    border-radius: 50%;
  }
  .cameraC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: -100%;
    margin-left: 75%;
    border: 1px solid  rgb( 0, 28, 82);
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
    }
}
    @media (max-width: 550px) {
.circleTwo {
    height: 150px;
    width: 150px;
    margin-left: 24%;
    margin-top: 28%;
    margin-bottom: 200px;
    background-position: center;
    background-color: rgb( 0, 28, 82);
    border-radius: 50%;
  }
  .cameraC {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    position: relative;
    margin-top: -100%;
    margin-left: 70%;
    border: 1px solid  rgb( 0, 28, 82);
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
    }
}
