@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');

input {
  margin-top: 4px;
  margin-bottom: 28px;
  border: 2px solid lightgray;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 343px;
  height: 58px;
  border-radius: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #051d54;
  padding: 7px 15.9px 6px 11.4px;
}
input:focus{
  border-color: rgb(243, 111, 58);
  outline: none
}
label {
  width: 378px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: rgb(77, 86, 114);
}
.formC {
  display: flex;
  flex-direction: row;
  margin-left: 81px;
}
.formItem {
  margin-right: 30px;
}
.bio {
  margin-left: 81px;
  display: flex;
  flex-direction: column;
}
textarea {
  width: 754px;
  height: 165px;
  border-radius: 10px;
  border: 2px solid lightgray;
  background-color: #ffffff;
  resize: none;
  margin-top: -22px;
  padding: 17px 10px 14px 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #051d54;
  resize: none;
  margin-bottom: 28px;
}

textarea:focus {
  border-color: rgb(243, 111, 58);
  outline: none
}
.titleOne {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 88px;
  margin-top: 0;
  padding-top: 78px;
  color: rgb(0, 160, 154);
  z-index: 1;
}
@media (max-width: 1000px) {
  .titleOne {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: bold;
    margin: auto 0;
    color: rgb(0, 160, 154);
  }
}
