@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');

.inputC {
  width: 381px;
  height: 75px;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 28px;
  border: 2px solid lightgray;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 350.5px;
  height: 62px;
  border: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
}
input:focus{
  outline: none;
}
label {
  width: 378px;
  height: 60px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(77, 86, 114);
}
.formC {
  display: flex;
  flex-direction: row;
  margin-left: 81px;
}
.formItem {
  margin-right: 30px;
}
.bio {
  margin-left: 81px;
}
.bioInputC {
  width: 786px;
  height: 200px;
  margin-top: 4px;
  border-radius: 10px;
  border: 2px solid lightgray;
  background-color: #ffffff;
}
textarea {
  width: 729px;
  border: none;
  height: 108px;
  margin-left: 12px;
  margin-right: 108px;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  resize: none;
}

.Ellipse-11 {
  width: 70px;
  height: 70px;
  border: solid 3px var(--marine);
  background-color: #ffffff;
}
