@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700');
footer {
  background-color: #051d54;
  left: 0;
  right: 0;
  height: 534px;
  display: flex;
  flex-direction: row;
}
h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 27px;
}
.footerItem  {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #ffffff;
  margin-top: -20px;
  margin-bottom: 25px;
}
.footerColumnOne {
  padding-left: 119px;
  width: 351px;
  margin-right: 51px;
}
.footerColumn {
  width: 351px;
  margin-right: 51px;
}
.footerItemSocial {
  margin-left: 6px;
}
.copyright {
  position: absolute;
  margin-top: 473px;
  margin-left: 568px;
  width: 293px;
  height: 35px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.fb {
  padding: 50px;
}
@media (max-width: 500px) {
  footer {
    left: 0;
    right: 0;
    background-color: #051d54;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 19px;
  }
  .footerColumnOne {
    padding: 0;
    margin: 0 auto;
    margin-top: -10px;
    width: auto;
    font-size: 16px;
    font-weight: 400;
  }
  .footerColumn {
    width: auto;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
  }
  .footerItemSocial {
    width: auto;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
  }
  .fhOne{
    font-size: 24px;
  }
  .fh{
    font-size: 24px;
    margin-top: -2px;
  }
  .footerItem, .footerItemSocial {
    padding-top: -10px;
  }
  .ft {
    font-size: 16px;
    font-weight: 400;
    padding-top: 3px;
    padding-bottom: 1px;
    margin: 0;
  }
  .fhTwo {
    font-size: 16px;
    font-weight: 600;
  }
  .copyright {
    position: inherit;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 293px;
    height: 19px;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #ffffff;
  }
}