@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');


button {
  width: 475px;
  height: 75px;
  margin-left: 81px;
  border-radius: 15px;
  border: none;
  background-color: rgb(243, 111, 58);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 50px;
}
@media (max-width: 500px), (min-width: 350px) {
button {
  width: 325px;
  margin-top: 2px;
  margin-left: 7px;
  margin-bottom: -198px;
}
}