@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');


.profile-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
}
  .my-profile {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
  
  
}

.bio-head {
  width: auto;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-green);
  color: #0ca09a;
}

.profile-bio {
  height: 108px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  width: 350px;
  
  
}

.travel-pref {
  height: 53px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
}

.amenities {
  height: 53px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
}


.recentReview {
  height: 71px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
}

.review-text{
  /* height: 108px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  margin-bottom: 25px;
 
}

.profile-container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap-reverse;
 justify-content: space-between;
 max-width: 1000px;

}
.left-profile{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
max-width: 700px;
word-break: break-all;
}
.right-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: flex-start;
  min-height: 600px;
  max-width: 300px;
}

.name-pic {
  order: 0;
  flex: 0 1 auto;
  align-self: center;
  height: 170px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  align-content: center;
  text-align: center;
  
}

.profile-details-image{
  display: flex;
  align-self: flex-end;
  width: 200px;
  height: 200px;
  border: solid 3px #051d54;
  border-radius: 50%;
  margin-bottom: 20px;

}

.UpdateProfileButton{
  width: 475px;
  height: 41.3px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.remove-account{
  width: 355px;
  height: 40px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  text-align: center;
  margin-top: 100px;
}

.remove-button{
  width: 355px;
  height: 40px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ea6e2d;
  text-align: center;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}

@media (min-width: 300px){
  
  .UpdateProfileButton{
    width: 475px;
    height: 41.3px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  
  .remove-account{
    width: 355px;
    height: 40px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #051d54;
    text-align: center;
  }
  
  .remove-button{
    width: 355px;
    height: 40px;
    font-family: OpenSans;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ea6e2d;
    text-align: center;
    padding-left: 65px;
  }

  .a{
    display: flex;
    align-self: flex-start;
    align-items: flex-start;
  }
  
  .button-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
  }

  .update-button2{

    align-items: flex-start;
  }

  .right-profile{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  min-height: 300px;
  max-width: 300px;
}


}

.amenMusic{
 
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
}

.amenities-svg{
 
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
}

.travel-container{
  display: flex;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 250px;
  justify-content: space-around;

}

.name{
  /* width: 378px; */
  /* height: 37px; */
  /* order: 0; */
  /* flex: 0 1 auto; */
  align-self: center;
  /* height: 378px; */
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  align-content: center;
}

.smokeSvg{
 
    
 
  
}
/*
.snackSvg{
  
    
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #051d54;
  
} */