@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');


.profile-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  max-width: 1000px;
}
  .my-profile {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
  
  
}

.bio-head {
  width: auto;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--blue-green);
  color: #0ca09a;
}

.profile-bio {
  height: 108px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
}

.travel-pref {
  height: 53px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
}

.recentReview {
  height: 71px;
  font-family: 'Open Sans', sans-serif;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #0ca09a;
}


.profile-container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap-reverse;
 justify-content: space-between;
 max-width: 1000px;

}
.left-profile{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
max-width: 700px;
}
.right-profile{
  display: flex;
  flex-direction: column;
  /* justify-content: flex-end; */
  align-items: center;
  min-height: 600px;
  max-width: 300px;
}

.name-pic {
  order: 0;
  flex: 0 1 auto;
  align-self: flex-end;
  height: 170px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  align-content: center;
  
}

.profile-details-image{
  display: flex;
  align-self: flex-end;
  width: 200px;
  height: 200px;
  border: solid 3px #051d54;
  border-radius: 50%;
  margin-bottom: 20px;

}

.UpdateProfileButton{
  width: 475px;
  height: 41.3px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.remove-account{
  width: 355px;
  height: 40px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #051d54;
  text-align: center;
}

.remove-button{
  width: 355px;
  height: 40px;
  font-family: OpenSans;
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ea6e2d;
  text-align: center;
}

.button-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .main{
    width: 100px;
  }
}