@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');
.titleOne {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 24px;
  margin-left: 88px;
  margin-top: 0;
  padding-top: 78px;
  color: rgb(0, 160, 154);
}
@media (max-width: 1000px) {
  .titleOne {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    font-weight: 600;
    font-weight: bold;
    margin: -29px 0 0 0;
    color: rgb(0, 160, 154);
  }
}
@media (max-width: 550px) {
  .titleOne {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    font-weight: bold;
    margin: -40px 0 0 0;
    color: rgb(0, 160, 154);
  }
}

