@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700');
h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 64px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(0, 160, 154);
  margin-top: 78px;
  margin-bottom: 55px;
  margin-left: 88px;
}                